# 1주차 미션

Q3. 
- 각각의 Error를 발생시키는 코드를 2가지씩 만들어보고
- Debugging 한 코드도 만들어 봅시다.
- 그 밖에 다른 Error도 3가지를 찾아 그 Error를 발생시키는 코드와
- Debugging한 코드를 1가지씩 만들어 봅시다.

In [ ]:
# SyntaxError
# (1) 에러 발생코드
se = 5
if a == 5
    print(a)
# 디버깅한 코드
se = 5
if a == 5:
    print(a)
# (2) 에러 발생코드
def f()
    global a, b
    a, b = 1, 0
    return a + b
# 디버깅한 코드
def f():
    global a, b
    a, b = 1, 0
    return a + b
 
# ValueError
# (1) 에러 발생코드
print(int('abcabc'))

# 디버깅한 코드
print('abcabc')

# TypeError
# (1) 에러 발생코드
print([x + 'a' for x in [1, 2, 3, 4, 5]])
# 디버깅한 코드
print([str(x) + 'a' for x in [1, 2, 3, 4, 5]])
# (2) 에러 발생코드
te = 'a'
print(te + 1)
# 디버깅한 코드
te = 'a'
print(te + '1')

# IndexError
# 에러 발생 코드
li = [1, 2, 3, 4, 5]
print(li[5])
# 디버깅한 코드
li = [1, 2, 3, 4, 5]
print(li[4])

# NameError
# 에러 발생코드
a, b = 1, 2
print(c)
# 디버깅한 코드
a, b = 1, 2
print(a)

# KeyError
# 에러 발생코드
x = {'가':1, '나':2}
print(x['다'])
# 디버깅한 코드
x = {'가':1, '나':2}
print(x['나'])

Q4. 한국 나이를 미국 나이로 변환하는 프로그램을 코딩
- hint: 미국 나이는 생일이 지났는지 안지났는지가 중요.
- birth = int(intput('생일이 지났습니까? 맞으면 0 아니면 -1 : '))

In [ ]:
korea_age = int(input("한국 나이를 알려주세요: "))
is_over_birth = int(input("생일이 지났나요? 맞으면 1 아니면 0을 입력해주세요: "))
usa_age = korea_age

try: 
    if is_over_birth == 1:
        usa_age = korea_age - 1
        print(f'미국 나이: {usa_age}')
    elif is_over_birth == 0:
        usa_age = korea_age - 2
        print(f'미국 나이: {usa_age}')
    else:
        raise Exception('1 혹은 0이 아닌 숫자를 입력했습니다.')

except Exception as e:
    print('예외 발생.', e)

한국 나이를 알려주세요: 30
생일이 지났나요? 맞으면 1 아니면 0을 입력해주세요: 0
미국 나이: 28

# 2주차 미션

Q1. 컴퓨터와 함께하는 가위바위보 게임을 만들어봅시다!

조건1 : 함수의 인자로는 나의 가위바위보 선택이 들어감
          (0, 1 ,2 혹은 "가위", "바위", "보" 로 입력할 수 있습니다. - 총 6가지 방법으로 넣을 수 있음)

조건2 : 누가 무엇을 냈고, 누가 승리 했는지 출력이 되어야 함

In [ ]:
import random

# 0:가위, 1:바위, 2:보
def computer():
    com = random.randint(0, 2)
    if com == 0:
        com = '가위'
    elif com == 1:
        com = '바위'
    else:
        com = '보'
    return com

def mychoice(m):
    me = 0
    try:
        if (m == '가위') or (m == '바위') or (m == '보'):
            return m
        if m == '0':
            me = '가위'
        elif m == '1':
            me = '바위'
        elif m == '2':
            me = '보'
        else:
            raise Exception('0, 1, 2, 가위, 바위, 보 중 하나를 입력하지 않았습니다.')
    except Exception as e:
        print('에러 발생', e)
        
    return me
    
def result():
    com = computer()
    me = mychoice(input("0, 1, 2 혹은 가위, 바위, 보 중 하나를 입력하세요: "))
    # 무승부
    if com == me:
        print(f"나: {me}\n컴퓨터: {com}\n무승부!")
    # 무승부 아닌 경우
    elif (com == '가위') and (me == '바위'):
        print(f"나: {me}\n컴퓨터: {com}\n나 승리!")
    elif (com == '가위') and (me == '보'):
        print(f"나: {me}\n컴퓨터: {com}\n컴퓨터 승리!")
    elif (com == '바위') and (me == '가위'):
        print(f"나: {me}\n컴퓨터: {com}\n컴퓨터 승리!")
    elif (com == '바위') and (me == '보'):
        print(f"나: {me}\n컴퓨터: {com}\n나 승리!")
    elif (com == '보') and (me == '가위'):
        print(f"나: {me}\n컴퓨터: {com}\n나 승리!")
    elif (com == '보') and (me == '바위'):
        print(f"나: {me}\n컴퓨터: {com}\n컴퓨터 승리!")
    
result()

0, 1, 2 혹은 가위, 바위, 보 중 하나를 입력하세요: 1
나: 바위
컴퓨터: 바위
무승부!

Q2. 월급을 입력하면 연봉을 계산해주는 계산기를 만들어 봅시다. 세전 연봉과 세후 연봉을 함께 출력하도록 해봅니다.

In [ ]:
def yearly_payment(monthly_payment):
    global yearly_pay
    # 세전 = before_pay, 세후 = after_pay
    before_pay, after_pay = monthly_payment * 12, 0

    try:
        if (before_pay >= 0) and (before_pay <= 1200):
            after_pay = before_pay * 94 / 100
        elif (before_pay > 1200) and (before_pay <= 4600):
            after_pay = before_pay * 85 / 100
        elif (before_pay > 4600) and (before_pay <= 8800):
            after_pay = before_pay * 76 / 100
        elif (before_pay > 8800) and (before_pay <= 15000):
            after_pay = before_pay * 65 / 100
        elif (before_pay > 15000) and (before_pay <= 30000):
            after_pay = before_pay * 62 / 100
        elif (before_pay > 30000) and (before_pay <= 50000):
            after_pay = before_pay * 60 / 100
        elif before_pay > 50000:
            after_pay = before_pay * 58 / 100
        else:
            raise Exception('마이너스 값을 입력했습니다.')
        print(f"세전 연봉: {before_pay}만원\n세후 연봉: {int(after_pay)}만원")
    except Exception as e:
        print('에러 발생:', e)

yearly_payment(int(input('월급 입력(만원): ')))

월급 입력(만원): 0
세전 연봉: 0만원
세후 연봉: 0만원

Q3. 학생 이름과 점수를 입력하면 학점을 출력하는 학점 변환기를 만들어 봅시다.

이름과 점수, 학점 모두 출력하도록 해봅니다.

In [ ]:
def grader(name, point):
    global grade
    grade = 0
    try:
        if (point >= 95) and (point <= 100):
            grade = 'A+'
        elif (point >= 90) and (point <= 94):
            grade = 'A'
        elif (point >= 85) and (point <= 89):
            grade = 'B+'
        elif (point >= 80) and (point <= 84):
            grade = 'B'
        elif (point >= 75) and (point <= 79):
            grade = 'C+'
        elif (point >= 70) and (point <= 74):
            grade = 'C'
        elif (point >= 65) and (point <= 69):
            grade = 'D+'
        elif (point >= 60) and (point <= 64):
            grade = 'D'
        elif (point < 60):
            grade = 'F'
        else:
            raise Exception('점수를 잘못 입력했습니다.')
        print(f"학생이름 : {name}\n점수 : {point}점\n학점 : {grade}")
    except Exception as e:
        print('에러 발생:', e)

name, point = input().split(', ')
grader(name, int(point))

이호창, 111
에러 발생: 점수를 잘못 입력했습니다.

📌Q4. 나이와 현금 또는 카드를 입력하면 버스 요금이 출력되는 버스 요금 계산기를 만들어봅시다.

In [ ]:
def bus_fare(age, method):
    global fare
    fare = 0
    try:
        if (age > 0) and (age < 8):
            fare = 0
        elif (age >= 8) and (age < 14):
            fare = 450
        elif (age >= 14) and (age < 20) and (method == '카드'):
            fare = 720
        elif (age >= 14) and (age < 20) and (method == '현금'):
            fare = 1000
        elif (age >= 20) and (method == '카드'):
            fare = 1200
        elif (age >= 20) and (method == '현금'):
            fare = 1300
        elif age >= 75:
            fare = 0
        else:
            raise Exception('정확히 입력해주세요.')
        print(f"나이: {age}세\n지불유형: {method}\n버스요금: {fare}원")
    except Exception as e:
        print('에러발생:', e)

age, method = input().split(', ')
bus_fare(int(age), method)

30, ㅁㅁ
에러발생: 정확히 입력해주세요.

# 3주차 미션

📌Q1. 숫자를 입력 받고 그 숫자의 구구단을 출력하는 함수를 만들어 봅시다. 다만 아래의 조건을 만족해 주세요

In [ ]:
num = int(input('몇 단? : '))
if num <= 0:
    num = int(input('1 이상의 숫자를 입력하시오 : '))
const = 1
print(f"{num}단")

while num * const <= 50:
    print(f"{num}X{const} = {num*const}")
    const += 2
    if const > 9:
        break

몇 단? : 8
8단
8X1 = 8
8X3 = 24
8X5 = 40

📌Q2. 가위바위보 업그레이드 버젼을 함수로 만들어 봅시다. 아래와 같은 조건을 만족해 주세요.

조건 1: 게임을 몇 판을 진행할 것인지 입력을 받아주기

조건 2: 0, 1, 2, "가위", "바위", "보" 이외에 다른 입력을 받으면 재입력 받기

조건 3: 게임종료 후 나와 컴퓨터의 총 전적 출력하기

📌Q3. 2개의 숫자를 입력하여 그 사이에 짝수만 출력하는 함수를 만들어 봅시다. 그리고 중앙값도 함께 출력 해봅시다.(단, 중앙값이 짝수가 아닐 경우에는 중앙값은 출력을 하지 않고, 짝수인 수만 출력한다)

In [ ]:
# n =첫 숫자, m = 마지막 숫자

def find_even(n, m):
    num_li = [i for i in range(n, m+1)]
    med_index = len(num_li) // 2
    median = (num_li[med_index] + num_li[-med_index - 1]) / 2

    for num in num_li:
        if num % 2 == 0:
            if median == num:
                print(f"{num} 중앙값")
            else:
                print(f"{num} 짝수")
        else: # 홀수이면 다음 num으로 
            continue

n = int(input("첫 번째 수 입력 : "))
m = int(input("두 번째 수 입력 : "))
find_even(n, m)

첫 번째 수 입력 : 1
두 번째 수 입력 : 7
2 짝수
4 중앙값
6 짝수

📌Q4. 2개의 숫자를 입력하여 그 사이에 소수가 몇 개인지 출력하는 함수를 만들어 봅시다.

In [ ]:
def count_prime_number(n, m):
    li = []
    for i in range(n, m+1):
        if i == 1:
            continue
        else:
            cnt = 0
            for j in range(2, i):
                if i%j == 0:
                    cnt += 1
            if cnt == 0:
                li.append(i)

    print(f"소수개수 {len(li)}")

n = int(input("첫 번째 수 입력 : "))
m = int(input("두 번째 수 입력 : "))
count_prime_number(n, m)

첫 번째 수 입력 : 2
두 번째 수 입력 : 11
소수개수 5

4주차 미션

📌Q1. 우리는 큰 수를 나타낼 때 3자리마다 , 를 찍어서 구분해 줍니다. 파이썬에서는 아래와 같이 쉽게 나타낼 수 있습니다.

📌Q2. 어느날 여러분이 어떤 글을 읽고 있는데, 갑자기 특정 글자가 전체 글에서 몇개 들어있는지 궁금해졌습니다. 그럼 한 번 파이썬 함수로 만들어 봅시다.

In [ ]:
text = """밤사이 기록적인 폭우로 크고 작은 사고가 잇따르고 있습니다.


현재 레이더 화면을 보시면 지금도 계속해서 강한 비구름이 유입되고 있고요.

지금은 경기 북부와 영서 지역을 중심으로 시간당 30mm 이상의 장대비가 쏟아지고 있습니다.

앞으로 이 비구름은 정체하면서 수도권과 영서 지역에 다시 강한 비를 퍼붓겠는데요.

어제부터 지금까지 수도권에는 그야말로 물폭탄이 쏟아졌습니다.

어제부터 지금까지 서울 서초구에는 410mm 여주에도 415mm가량의 많은 비가 내렸고요.

양평에도 396mm가량의 비가 쏟아졌습니다.

이에 따라서 수도권 전 지역과 강원 남부 지역에는 호우경보가 발효 중이고요.

그 밖의 충청 북부와 강원 내륙 지역에도 호우주의보가 계속되고 있습니다.

또 이곳을 중심으로는 산사태 위기 경보까지 내려져 있는데요.

문제는 지금 내린 양만큼 앞으로 더 내린다는 겁니다.

모레까지 경기 남부와 강원 중남부, 충청 북부 지역에 350mm 이상, 그 밖의 수도권과 충청, 경북 북서 지역에도 300mm 안팎의 많은 비가 내리겠습니다.

특히 오늘 밤부터는 수도권과 영서 지역을 중심으로 시간당 50에서 100mm 안팎의 매우 강한 비가 다시 쏟아질 수 있다는 겁니다.

더 이상 피해 없도록 주의, 또 주의해주셔야겠습니다."""

def count_word(text, word):
    f = open('text.txt', 'w')
    f.write(text)
    f.close()
    
    print(text.count(word))

count_word(text, '수도권')

5

📌Q3. 요즘 식당에 들어가면 방명록을 적게 되어있습니다.

어느 식당의 사장님이 여러분에게 방명록을 주면서 전화번호를 제대로 적었는지 검사해달라는 부탁을 했습니다.

아래와 같은 방명록이 있을 때 방명록을 잘 못쓴 사람의 이름과 잘 못된 번호를 출력하는 함수를 만들어 봅시다.

📌Q4.  주민등록번호의 앞 6자리는 생년월일이고 뒷자리의 시작번호는 성별을 나타냅니다. 주민등록번호를 입력하면 몇년 몇월 생인지 그리고 남자인지 여자인지 출력하는 함수를 만들어 봅시다.

In [ ]:
import numpy as np

a = input('주민등록번호를 "-"를 포함하여 입력해주세요: ',)
# 년/월/일 체크
# 성별 체크

if len(a) != 14:
    print('잘못된 번호입니다.\n올바른 번호를 넣어주세요')

# 2000년 이후 출생 확인
if (a[:2] >= '00') and (a[:2] <= '21'):
    b = input('2000년 이후 출생자 입니까? 맞으면 o 아니면 x: ',)
    # 2000년 이후 출생자라고 답했을 경우
    if b == 'o':
        if int(a[2:4]) not in np.arange(1, 13).tolist(): # 1~12월이 아니면
            print('잘못된 번호입니다.\n올바른 번호를 넣어주세요')
        else: # 1~12월이고
            if int(a[4:6]) not in np.arange(1, 32).tolist(): # 1~31일이 아니면
                print('잘못된 번호입니다.\n올바른 번호를 넣어주세요')
            else:
                print(f"{a[:2]}년 {a[2:4]}월")





# 2000년 이전 출생자일 경우
# else:

주민등록번호를 "-"를 포함하여 입력해주세요: 001311-1070311
2000년 이후 출생자 입니까? 맞으면 o 아니면 x: o
잘못된 번호입니다.
올바른 번호를 넣어주세요

# 5주차 미션

📌Q1. 여러분 혹시 베스킨라빈스31 게임을 아시나요? 1부터 31까지 숫자를 플레이어들끼리 번갈아 외치다가 31을 외치는 사람이 패배하는 게임인데요.

이번엔 이 게임을 파이썬 함수로 만들어 봅시다. 지성이 없이 숫자를 랜덤하게 외치는 컴퓨터와 대결을 해보겠습니다.

😲조건1 - 나의 턴에서는 숫자를 직접 입력하며 한 번 입력 후에 space 한 번으로 구분

😲조건2 - 나와 컴퓨터 모두 한 턴에 1회 ~ 3회까지만 숫자를 외칠 수 있음

😲조건3 - 외쳐진 숫자보다 1큰 수만 외칠수 있음 (ex: 5 다음엔 무조건 6)

위 조건이 안맞을 경우 다시 입력

📌Q2. 다음과 같이 학생들의 시험 답지가 있습니다. 그리고 답안지도 있습니다.

함수를 하나 만들어 채점을 하고 학생들의 점수를 출력하고 등수도 함께 출력해주세요.

In [ ]:
submit_ans = ["김갑,3242524215",
                "이을,3242524223",
                "박병,2242554131",
                "최정,4245242315",
                "정무,3242524315"]
correct_ans = [3,2,4,2,5,2,4,3,1,2]

def grader(submit, answer):
    result = {}
    for i in submit_ans:
        cnt = 0
        name, sub_ans = i.split(',')[0], i.split(',')[1]
        for sa, ca in zip(sub_ans, correct_ans):
            if int(sa) == ca:
                cnt += 10  # 정답 맞혔을 경우 10점씩 추가
        result[name] = cnt
    result = sorted(result.items(), key=lambda x: x[1], reverse=True)
    
    # 출력
    for i, j in enumerate(result):
        print(f"학생: {j[0]} 점수: {j[1]}점 {i+1}등")

grader(submit_ans, correct_ans)

학생: 정무 점수: 90점 1등
학생: 김갑 점수: 80점 2등
학생: 이을 점수: 70점 3등
학생: 박병 점수: 50점 4등
학생: 최정 점수: 40점 5등

📌Q3. 숫자 맞추기 게임을 만들어 볼게요. 컴퓨터가 임의의 숫자를 3개 만들고 우리가 그것을 맞춰보겠습니다.

😲조건1 - 숫자는 0 ~ 100까지 숫자를 3개 만듭니다(중복 불가).

😲조건2 - 5회, 10회까지 정답을 못맞추면 최솟값, 최대값에 대한 힌트를 줍니다.

😲조건3 - 정답을 맞추면, 맞춘 정답이 최솟값인지, 중간값인지, 최댓값인지 알려줍니다.

In [ ]:
import random
import numpy as np

def guess_number():
    com_num = [random.randint(0, 100) for n in range(3)]
    cnt = 0
    input_num = []
    print(com_num)
    while 1:
        cnt += 1
        print(f"{cnt}차 시도")
        my_num = int(input("숫자를 예측해보세요: "))
        
        # 이전에 입력한 숫자이면
        if my_num in input_num:
            print("이미 예측에 사용한 숫자입니다.")
            continue
        
        # 숫자를 맞추면
        if my_num in com_num:
            
            # 만약 맞춘 숫자가 최솟값이면
            if my_num == np.min(com_num):
                print(f"숫자를 맞추셨습니다! {my_num}는 최솟값입니다.")
            # 만약 맞춘 숫자가 중앙값이면
            elif my_num == np.median(com_num):
                print(f"숫자를 맞추셨습니다! {my_num}는 중앙값입니다.")
            # 만약 맞춘 숫자가 최댓값이면
            else:
                print(f"숫자를 맞추셨습니다! {my_num}는 최댓값입니다.")
            
            com_num.remove(my_num) # com_num에서 해당 숫자 삭제
            input_num.append(my_num)

            if len(com_num) == 0:
                print("게임종료")
                print(f"{cnt}번 시도만에 예측 성공")
                break

        # 숫자를 틀리면
        else:
            input_num.append(my_num)
            print(f"{my_num}는 없습니다.")
            # 5회 시도까지 정답을 못 맞춘 경우
            if (cnt == 5) and (len(com_num) != 0) :
                if my_num > np.min(com_num):
                    print(f"최솟값은 {my_num}보다 작습니다.")
                elif my_num < np.min(com_num):
                    print(f"{my_num}는 최솟값보다 작습니다.")
            # 10회 시도까지 정답을 못 맞춘 경우
            if (cnt == 10) and (len(com_num) != 0) :
                if my_num > np.max(com_num):
                    print(f"최댓값은 {my_num}보다 작습니다.")
                elif my_num < np.max(com_num):
                    print(f"{my_num}는 최댓값보다 작습니다.")

guess_number()

[97, 53, 80]
1차 시도
숫자를 예측해보세요: 50
50는 없습니다.
2차 시도
숫자를 예측해보세요: 50
이미 예측에 사용한 숫자입니다.
3차 시도
숫자를 예측해보세요: 52
52는 없습니다.
4차 시도
숫자를 예측해보세요: 53
숫자를 맞추셨습니다! 53는 최솟값입니다.
5차 시도
숫자를 예측해보세요: 60
60는 없습니다.
60는 최솟값보다 작습니다.
6차 시도
숫자를 예측해보세요: 80
숫자를 맞추셨습니다! 80는 최솟값입니다.
7차 시도
숫자를 예측해보세요: 97
숫자를 맞추셨습니다! 97는 최솟값입니다.
게임종료
7번 시도만에 예측 성공

# 6주차 미션

📌Q1. 역사 문제를 하나 내보겠습니다. 고려시대와 조선시대 왕 이름 중에서 고려에도 있고 조선에도 있는 이름은 몇개 일까요? 한 번에 딱 안 떠오른다면 왕 이름을 드릴테니 파이썬 함수로 만들어서 출력 해봅시다.

😲조건1 - 중복되는 왕 이름 출력
😲조건2 - 중복되는 왕 이름의 수 출력

In [29]:
# 왕이름
korea_king = "태조,혜종,정종,광종,경종,성종,목종,현종,덕종,정종,문종,순종,선종,헌종,숙종,예종,인종,의종,명종,신종,희종,강종,고종,원조,충렬왕,충선왕,충숙왕,충혜왕,충목왕,충정왕,공민왕,우왕,창왕,공양왕"
chosun_king = "태조,정종,태종,세종,문종,단종,세조,예종,성종,연산군,중종,인종,명종,선조,광해군,인조,효종,현종,숙종,경종,영조,정조,순조,헌종,철종,고종,순종"

# 고려시대 왕 이름 딕셔너리에 저장 (value = 1)
korea_chosun = {name:num for name, num in zip(korea_king.split(','), [1 for i in range(len(korea_king))])}

# 조선시대 왕 이름이 딕셔너리에 이미 있으면 num += 1
def king(korea_king, chosun_king):
    cnt = 0
    for chosun_name in chosun_king.split(','):
        if chosun_name in korea_chosun:
            korea_chosun[chosun_name] += 1
            cnt += 1
            if korea_chosun[chosun_name] > 1:
                print(f"조선과 고려에 모두 있는 왕 이름: {chosun_name}")
        else: # 조선 왕 이름이 고려 왕 이름 중 없으면 다음 루프로 진행
            continue
        
    print(f"조선과 고려에 모두 있는 왕 이름은 총 {cnt}개 입니다.")

king(korea_king, chosun_king)

조선과 고려에 모두 있는 왕 이름: 태조
조선과 고려에 모두 있는 왕 이름: 정종
조선과 고려에 모두 있는 왕 이름: 문종
조선과 고려에 모두 있는 왕 이름: 예종
조선과 고려에 모두 있는 왕 이름: 성종
조선과 고려에 모두 있는 왕 이름: 인종
조선과 고려에 모두 있는 왕 이름: 명종
조선과 고려에 모두 있는 왕 이름: 현종
조선과 고려에 모두 있는 왕 이름: 숙종
조선과 고려에 모두 있는 왕 이름: 경종
조선과 고려에 모두 있는 왕 이름: 헌종
조선과 고려에 모두 있는 왕 이름: 고종
조선과 고려에 모두 있는 왕 이름: 순종
조선과 고려에 모두 있는 왕 이름은 총 13개 입니다.

📌Q2.  여러분은 6명의 멤버를 거느리는 영업팀의 영업관리자 입니다. 각 멤버별로 올해 실적을 보고 잘한 멤버는 보너스를 주고 못한 멤버는 면담을 하려고 합니다. 파이썬을 이용하여 함수를 만들어 보너스 대상자와 면담 대상자를 골라주세요.

😲조건 1 - 예비 보너스 대상자는 평균 실적 1등 2등 입니다.  
😲조건 2 - 예비 면담 대상자는 평균 실적 5등 6등 입니다.  
😲조건 3 - 보너스 대상자의 평균 실적이 5보다 크지 않으면 보너스 대상자에서 제외 됩니다.  
😲조건 4 - 면담 대상자의 평균 실적이 3보다 크면 면담 대상자에서 제외 됩니다.

In [65]:
import numpy as np
# 이름, 실적
member_names = ["갑돌이", "갑순이", "을돌이", "을순이", "병돌이", "병순이"]
member_records = [[4,5,3,5,6,5,3,4,1,3,4,5],[2,3,4,3,1,2,0,3,2,5,7,2], 
           [1,3,0,3,3,4,5,6,7,2,2,1],[3,2,9,2,3,5,6,6,4,6,9,9],
           [8,7,7,5,6,7,5,8,8,6,10,9],[7,8,4,9,5,10,3,3,2,2,1,3]]
name_record_dict = {name:round(np.mean(re), 1) for name, re in zip(member_names, member_records)}

# value 기준으로 내림차순 정렬
name_record_dict = sorted(name_record_dict.items(), key=lambda x: x[1], reverse=True)

def sales_management(member_names, member_records):
    for num, li in enumerate(name_record_dict):
        if num in [0, 1]: # 평균 실적이 1등, 2등이면
            if li[1] <= 5: # 평균 실적이 5보다 크지 않으면 제외
                continue
            else:
                print(f"보너스 대상자: {li[0]}")
        elif num in [4, 5]: # 평균 실적이 5등, 6등이면
            if li[1] > 3: # 평균 실적이 3보다 크면 제외
                continue
            else:
                print(f"\n면담 대상자: {li[0]}")

sales_management(member_names, member_records)

보너스 대상자: 병돌이
보너스 대상자: 을순이

면담 대상자: 갑순이

📌Q3. 예금 금리가 너무 낮아서 주식을 시작했습니다. 아래와 같이 매수한 종목 이름, 수량, 매수 평균 금액이 있습니다. 판매가는 따로 주어집니다. 종목과 수익률만 출력하시고 종목별 수익률이 높은 순서대로 출력해주세요. (소수 둘째자리까지 출력)

In [99]:
stocks = "삼성전자/10/85000,카카오/15/130000,LG화학/3/820000,NAVER/5/420000"
sells = [82000, 160000, 835000, 410000]
# stoct_dict = {'심성전자':85000, ...}
stock_dict = {name:int(price) for name, price in [(li.split('/')[0], li.split('/')[2]) for li in li for li in stocks.split(',')]}
# 수익률 계산
for (name, price), sell in zip(stock_dict.items(), sells):
    earning_rate = ((sell - price)/price)*100
    stock_dict[name] = round(earning_rate, 2)

stock_dict = sorted(stock_dict.items(), key=lambda x: x[1], reverse=True)
for li in stock_dict:
    print(f"{li[0]}의 수익률: {li[1]}")

카카오의 수익률: 23.08
LG화학의 수익률: 1.83
NAVER의 수익률: -2.38
삼성전자의 수익률: -3.53

📌Q4. 여러분은 어떤 상품을 판매하고 있습니다. 매월 상품을 많이 구매해준 VIP회원에게 할인 쿠폰을 제공해주려고 합니다. 아래와 같은 회원 정보가 있을 때 회원 정보를 출력하고 할인 쿠폰을 받을 회원이 누구인지 출력하는 함수를 만들어 주세요.

😲조건1 - 8회 이상 구매한 회원이 VIP대상  
😲조건2 - 전화번호가 없으면 쿠폰을 받을 수 없음  
😲조건3 - 전화번호가 없으면 000-0000-0000으로 출력할 것

In [178]:
import pandas as pd

# 6명의 회원이고 "아이디,나이,전화번호,성별,지역,구매횟수" 순서로 입력되어 있음
info = "abc,21세,010-1234-5678,남자,서울,5,cdb,25세,x,남자,서울,4,bbc,30세,010-2222-3333,여자,서울,3,ccb,29세,x,여자,경기,9,dab,26세,x,남자,인천,8,aab,23세,010-3333-1111,여자,경기,10"
li = []
info_li = []
info_dict ={}
for i, j in enumerate(info.split(',')):
    i += 1
    li.append(j)
    if i % 6 == 0:
        # 6개씩 순환 -> info_li에 li 추가
        info_li.append(li)
        # 리셋
        li = []

info_dict['아이디'] = [li[0] for li in info_li]
info_dict['나이'] = [li[1] for li in info_li]
info_dict['전화번호'] = ['000-0000-0000' if li[2] == 'x' else li[2] for li in info_li]
info_dict['성별'] = [li[3] for li in info_li]
info_dict['지역'] = [li[4] for li in info_li]
info_dict['구매횟수'] = [int(li[5]) for li in info_li]
print(info_dict)

# DataFrame 생성
df = pd.DataFrame(info_dict)
print(f"할인 쿠폰을 받을 회원정보 아이디: {df.loc[(df['구매횟수']>=8) & (df['전화번호']!='000-0000-0000'), '아이디'].tolist()}\
      \n나이: {df.loc[(df['구매횟수']>=8) & (df['전화번호']!='000-0000-0000'), '나이'].tolist()}\
      \n전화번호: {df.loc[(df['구매횟수']>=8) & (df['전화번호']!='000-0000-0000'), '전화번호'].tolist()}\
      \n성별: {df.loc[(df['구매횟수']>=8) & (df['전화번호']!='000-0000-0000'), '지역'].tolist()}\
      \n구매횟수: {df.loc[(df['구매횟수']>=8) & (df['전화번호']!='000-0000-0000'), '구매횟수'].tolist()}")

{'아이디': ['abc', 'cdb', 'bbc', 'ccb', 'dab', 'aab'], '나이': ['21세', '25세', '30세', '29세', '26세', '23세'], '전화번호': ['010-1234-5678', '000-0000-0000', '010-2222-3333', '000-0000-0000', '000-0000-0000', '010-3333-1111'], '성별': ['남자', '남자', '여자', '여자', '남자', '여자'], '지역': ['서울', '서울', '서울', '경기', '인천', '경기'], '구매횟수': [5, 4, 3, 9, 8, 10]}
할인 쿠폰을 받을 회원정보 아이디: ['aab']
나이: ['23세']
전화번호: ['010-3333-1111']
성별: ['경기']
구매횟수: [10]